<mat-toolbar class="nav_color">
   <div class="row col-md-12">
   <div class="col-md-2 align-center dflex">
   <h1 routerLink="\" class="home_icon">Dcomm</h1>

   </div>
   <div class="col-md-4">

   </div>
   <div class="col-md-6 dflex-end">
   <div class="col-md-6">
   </div>
   <div class="col-md-6 dflex-end align-center" *ngIf="loggedin">
   <span [matMenuTriggerFor]="menu" class="username-design">{{username}} <mat-icon class="account_icon">account_circle</mat-icon></span>
   <button #menu_action mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
    <mat-icon>keyboard_arrow_down</mat-icon>
</button>
   </div>

<mat-menu  #menu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
   </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
