<div class="bg_pale">
  <div class="row col-md-12 ">
      <div class="col-md-2 white-bg pr-five border-shadow-mild">
          <div class="p-10 label-wrapper  mat-elevation-z8">
            <label> Optimization Activation </label>
          </div>
<!-- Filter Section -->
          <div class="m-5px">
          </div>
<!-- Filter Section -->
<!-- Footer Section -->
           <div class="footer m-5px">
                <div class="footer-actions">
                  <div class="dflex-footer_img">
                    <img src="assets/svg/undraw_filter.svg" height="150px" width="150px"/>
                  </div>


                </div>
                <div class="footer-logo ">


                </div>
              </div>
  <!-- Footer Section -->
       </div>
       <div class="col-md-10 pr_zero">
         <!-- Button Action Section -->
        <div class="col-md-12 row action_center">
            <div class="col-md-3">
              <div class="custom_search">

              </div>

            </div>
                <div class="col-md-9  button_actions">
                  <div class="col-md-12 row button_actions">
                  <div class="col-md-5  action_btn_container">
                    <div class="col-md-4 action_btn_container ">


                    </div>
                  <div class="col-md-6 action_btn_container ">

                    <!-- <button class="button-wt" mat-raised-button color="primary" >

                      <div class="d-flex center_all">
                        <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Example home icon">file_download</mat-icon></div>
                        <div class="break-line"> Download Promotion</div>
                      </div>
                    </button> -->
                  </div>
                    <div class="col-md-2 action_btn_container ">


                  </div>
                  </div>
                  <div class="col-md-4  action_btn_container">

                   <div class="col-md-6 action_btn_container ">


                  </div>
                    <div class="col-md-6 action_btn_container">


                      <button class="button-wt" mat-raised-button color="primary" (click)="go_back()">

                        <div class="d-flex center_all">
                          <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon></div>
                          <div class="break-line"> Back</div>
                        </div>
                      </button>
                  </div>
                </div>
                  <div class="col-md-2 action_btn_container">
                    <button class="button-wt" mat-raised-button color="primary" (click)="optimizeScenario()">

                      <div class="d-flex center_all">
                        <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon></div>
                        <div class="break-line" > Optimize Scenario </div>
                      </div>
                    </button>

                  </div>
                </div>
                </div>
              </div>
    <!-- Button Action Section -->
   <!-- Table view section -->

          <div class="row m-5px header-fixed custom_scroll">

          </div>
          <!-- Table view section -->
          <!--Constraints Section   -->
         <div class="constraint_section mat-elevation-z3 row p-10 m-5px">

            <div class="row col-md-12 ">


              <div class="col-md-9">
                <div class="mat-elevation-z2 headline-1 row">

                <div class="headline-1">
                  Select Activations
                </div>

                <table  class=" planner_table table_constraint">
                  <thead>
                    <tr class="mat-header-row">
                      <th width="25%">Activations / Pack Type</th>
                      <th width="15%" *ngFor="let element of DynActivationColumns">{{element.name}}</th>
                    </tr>

                  </thead>
                  <tbody>
                     <tr *ngFor="let row of ELEMENT_DATA_CONSTRAINTS" class="mat-row">
                       <ng-container *ngFor="let el of displayedColumnsConstraints;let i = index">
                        <td *ngIf="i!=0" class="mat-cell header_bg">
                          <mat-checkbox color="primary"  [(ngModel)]="row[el]">
                          </mat-checkbox>
                         </td>
                         <td *ngIf="i==0" class="mat-cell header_bg">
                           {{row.pack_type}}
                         </td>
                       </ng-container>


                    </tr>
                  </tbody>
                </table>


              </div>

              </div>
              <div class="col-md-3 center_master">
                <div class="mat-elevation-z3">
                  <mat-label class="custom_label_1 dflex-jc">Actions</mat-label>

                  <button mat-raised-button color="primary" (click)="selectAll()" class="m-10">
                    <div class="d-flex center_all">
                      <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Select All">select_all</mat-icon></div>
                      <div  class="break-line p-10">Select All</div>
                    </div>
                    </button>
                      <button mat-raised-button color="primary" (click)="ResetAll()" class="m-10">
                      <div class="d-flex center_all">
                        <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Reset All">restart_alt</mat-icon></div>
                        <div  class="break-line p-10">Reset All</div>
                      </div>
                      </button>
                      <hr>
                      <mat-label class="custom_label_1 dflex-jc">Total Budget</mat-label>
                      <div class="budget_input">

                          <div>
                            <input type="number" class="budget-nos" placeholder="" />
                            <button mat-raised-button color="primary" class="m-10">
                              <div class="d-flex center_all">
                                <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Reset All">restart_alt</mat-icon></div>
                                <div  class="break-line p-10">Clear</div>
                              </div>
                              </button>
                          </div>

                      </div>
                </div>
              </div>
             </div>
          </div>
      <!--End ofConstraints Section   -->
      <!-- Activation Constraint Matrix -->
      <div class="constraint_section mat-elevation-z3 row p-10 m-5px">

        <div class="row col-md-12 ">


          <div class="col-md-6">
            <div class="mat-elevation-z2 headline-1 row">

            <div class="headline-1">
              Activation Combinations Constraints
            </div>
            <table  class="mat-table planner_table table_constraint matrix">
              <thead>
                <th class="mat-header-cell">Activation</th>
                <th class="mat-header-cell">FSI</th>
                <th class="mat-header-cell">FAI</th>
                <th class="mat-header-cell">SEARCH</th>
                <th class="mat-header-cell">SOT</th>
                <th class="mat-header-cell">BBP</th>
              </thead>
              <tbody>
                <tr>
                  <td  width="15%" class="header_bg mat-cell">FSI</td>
                  <td  width="15%"><mat-checkbox color="primary" [(ngModel)]="MatrixConstraintsTable['fsi_fsi']">
                  </mat-checkbox></td>
                  <td  width="15%" class="disabled_checkbox"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['fsi_fai']"
                    color="primary" [disableRipple]="true"
                    (click)="$event.preventDefault()"></mat-checkbox></td>
                  <td  width="15%" class="disabled_checkbox"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['fsi_search']"
                    color="primary" [disableRipple]="true"
                    (click)="$event.preventDefault()"></mat-checkbox></td>
                  <td  width="15%" class="disabled_checkbox"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['fsi_sot']"
                    color="primary" [disableRipple]="true"
                    (click)="$event.preventDefault()"></mat-checkbox></td>
                  <td  width="15%" class="disabled_checkbox"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['fsi_bbp']"
                    color="primary" [disableRipple]="true"
                    (click)="$event.preventDefault()"></mat-checkbox></td>
                </tr>
                <tr>
                  <td  width="15%" class="header_bg mat-cell">FAI</td>
                  <td  width="15%"><mat-checkbox color="primary" [(ngModel)]="MatrixConstraintsTable['fsi_fai']"></mat-checkbox></td>
                  <td  width="15%"><mat-checkbox color="primary" [(ngModel)]="MatrixConstraintsTable['fai_fai']"></mat-checkbox></td>
                  <td  width="15%" class="disabled_checkbox"><mat-checkbox color="primary"

                    [(ngModel)]="MatrixConstraintsTable['fai_search']"
                    [disableRipple]="true"
                    (click)="$event.preventDefault()"></mat-checkbox></td>
                  <td  width="15%" class="disabled_checkbox"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['fai_sot']"
                    color="primary" [disableRipple]="true"
                    (click)="$event.preventDefault()" ></mat-checkbox></td>
                  <td  width="15%" class="disabled_checkbox"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['fai_bbp']"
                    color="primary" [disableRipple]="true"
                    (click)="$event.preventDefault()"></mat-checkbox></td>
                </tr>
                <tr>
                  <td  width="15%" class="header_bg mat-cell">SEARCH</td>
                  <td  width="15%"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['fsi_search']"
                    color="primary" ></mat-checkbox></td>
                  <td  width="15%"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['fai_search']"
                    color="primary" ></mat-checkbox></td>
                  <td  width="15%"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['search_search']"
                    color="primary"
                     ></mat-checkbox></td>
                  <td  width="15%" class="disabled_checkbox"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['search_sot']"
                    color="primary" [disableRipple]="true"
                    (click)="$event.preventDefault()"></mat-checkbox></td>
                  <td  width="15%" class="disabled_checkbox"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['search_bbp']"
                    color="primary" [disableRipple]="true"
                    (click)="$event.preventDefault()"></mat-checkbox></td>
                </tr>
                <tr>
                  <td  width="15%" class="header_bg mat-cell">SOT</td>
                  <td  width="15%"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['fsi_sot']"
                    color="primary" ></mat-checkbox></td>
                  <td  width="15%"><mat-checkbox color="primary"
                    [(ngModel)]="MatrixConstraintsTable['fai_sot']"
                    ></mat-checkbox></td>
                  <td  width="15%"><mat-checkbox color="primary"
                    [(ngModel)]="MatrixConstraintsTable['search_sot']"
                    ></mat-checkbox></td>
                  <td  width="15%"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['sot_sot']"
                    color="primary" ></mat-checkbox></td>
                  <td  width="15%" class="disabled_checkbox"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['sot_bbp']"
                    color="primary" [disableRipple]="true"
                    (click)="$event.preventDefault()"></mat-checkbox></td>
                </tr>
                <tr>
                  <td  width="15%" class="header_bg mat-cell">BBP</td>
                  <td  width="15%"><mat-checkbox
                    [(ngModel)]="MatrixConstraintsTable['fsi_bbp']"
                    color="primary" ></mat-checkbox></td>
                  <td  width="15%"><mat-checkbox color="primary"
                    [(ngModel)]="MatrixConstraintsTable['fai_bbp']"
                    ></mat-checkbox></td>
                  <td  width="15%"><mat-checkbox color="primary"
                    [(ngModel)]="MatrixConstraintsTable['search_bbp']"
                    ></mat-checkbox></td>
                  <td  width="15%"><mat-checkbox color="primary"
                    [(ngModel)]="MatrixConstraintsTable['sot_bbp']"
                    ></mat-checkbox></td>
                  <td  width="15%"><mat-checkbox color="primary"
                    [(ngModel)]="MatrixConstraintsTable['bbp_bbp']"
                    ></mat-checkbox></td>
                </tr>
              </tbody>

            </table>

          </div>

          </div>
          <div class="col-md-3 center_master">
            <div class="mat-elevation-z3">
              <mat-label class="custom_label_1 dflex-jc">Actions</mat-label>

              <button mat-raised-button color="primary" (click)="selectAll()" class="m-10">
                <div class="d-flex center_all">
                  <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Select All">select_all</mat-icon></div>
                  <div  class="break-line p-10">Select All</div>
                </div>
                </button>
                <button mat-raised-button color="primary" (click)="ResetAll()" class="m-10">
                  <div class="d-flex center_all">
                    <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Reset All">restart_alt</mat-icon></div>
                    <div  class="break-line p-10">Reset All</div>
                  </div>
                  </button>
            </div>
          </div>
          <div class="col-md-3 center_master">
            <div class="mat-elevation-z3 p-10">
                  <mat-label class="custom_label_1 dflex-jc">Total Products Covered</mat-label>
                  <div class="budget_input">

                      <div>
                        <input type="number" disabled class="budget-nos" placeholder="" />

                      </div>

                  </div>
            </div>
          </div>
         </div>
      </div>
      <!-- Activation Constraint Matrix -->

        <div>
       </div>

  </div>
</div>
