<div class=" bg_pale">
  <div class="row col-md-12 ">
      <div class="col-md-2  white-bg pr-five border-shadow-mild">
          <div class="p-10 label-wrapper">
            <label> Selection Panel </label>
          </div>
          <div class="m-5px">
              <div class="field_container">
                <label class="label_dropdown">Pack Type</label>
              <mat-form-field appearance="fill">
                <mat-label>Choose an option</mat-label>
                <mat-select [formControl]="Segment"  [(ngModel)]="selectedSegmentList" multiple>
                  <mat-select-trigger>
                    {{Segment.value ? Segment.value[0] : ''}}
                    <span *ngIf="Segment.value?.length > 1" class="example-additional-selection">
                      (+{{Segment.value.length - 1}} {{Segment.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let topping of segmentList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
              <div class="field_container">
                <label class="label_dropdown">Placement</label>
               <mat-form-field appearance="fill" >
                <mat-label>Choose an option</mat-label>
                 <mat-select [formControl]="placementTypes" [(ngModel)]="selectedplacementTypes" multiple>
                  <mat-select-trigger>
                    {{placementTypes.value ? placementTypes.value[0] : ''}}
                    <span *ngIf="placementTypes.value?.length > 1" class="example-additional-selection">
                      (+{{placementTypes.value.length - 1}} {{placementTypes.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let type of PlacementLabel" [value]="type">{{type}}</mat-option>
                 </mat-select>
               </mat-form-field>
               </div>

          </div>

           <div class="footer m-5px">
                <div class="footer-actions">
                <div class="row width_100">
                   <button mat-raised-button color="primary" (click)="doFilter()">
                    <div class="d-flex center_all">
                      <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Apply">filter_alt</mat-icon></div>
                      <div  class="break-line">Apply Filter</div>
                    </div>
                    </button>
                 <button mat-raised-button color="primary" (click)="resetFilter()" >
                  <div class="d-flex center_all">
                    <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Apply">restart_alt</mat-icon></div>
                    <div  class="break-line">Reset Filter</div>
                  </div>
                  </button>
                </div>

                </div>
                <div class="footer-logo ">
                      <img src="/assets/img/logo.png"/>
                </div>
              </div>
       </div>
       <div class="col-md-10 ">
        <div class="col-md-12 row">
          <div class="col-md-12 row action_center">
            <div class="col-md-3">
            </div>
                <div class="col-md-9  button_actions button_actions_end">
                  <div class="col-md-9 button_actions button_actions_end">
                  <div class=" action_btn_container col-md-3">
                    <button class="button-wt" (click)="goBack()" mat-raised-button color="primary">

                      <div class="d-flex center_all">
                        <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon></div>
                        <div  class="break-line"> Back </div>
                      </div>
                       </button>
                  </div>

                <div class=" action_btn_container col-md-3">
                  <button class="button-wt" (click)="downloadProducts()" mat-raised-button color="primary">

                    <div class="d-flex center_all" >
                      <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Example home icon">file_download</mat-icon></div>
                          <div  class="break-line" >Download Scenario</div>
                    </div>


                  </button>
                </div>
                <div class=" action_btn_container col-md-3">
                  <button (click)="saveScenarioTrigger(save_scenario)" class="button-wt" mat-raised-button color="primary">

                    <div class="d-flex center_all">
                     <div class="d-flex"><mat-icon aria-hidden="false" aria-label="Example home icon">save</mat-icon></div>
                     <div  class="break-line"> Save / Load <br> Scenario</div>
                   </div>
                   </button>
                  </div>

                  </div>

                </div>
                </div>
              </div>
            <div class="row m-5px dflex-jc ">

          <div class="row m-5px table_style_1" >
            <div class="mat-elevation-z2 p_zero white" *ngIf="SOURCE=='from_opt_activation'">
              <div class="m-10px">
                <div class="row">
                  <div class="col-md-4 d-center space-around">
                    <mat-label class="custom_label_1 dflex-jc">Planned Budget</mat-label>
                    <input type="number" disabled  class="budget-nos"/>
                  </div>
                  <div class="col-md-4 d-center space-around">
                    <mat-label class="custom_label_1 dflex-jc">Optimized Budget</mat-label>
                    <input type="number" disabled  class="budget-nos"/>
                  </div>
                  <div class="col-md-4 d-center space-around">
                    <mat-label class="custom_label_1 dflex-jc">Total Lift</mat-label>
                    <input type="number" disabled class="budget-nos"/>
                  </div>
                </div>

              </div>
            </div>

            <div class="heading-2" *ngIf="SOURCE=='from_opt_activation'"> Recommended Plan</div>

            <div class="header-fixed custom_scroll p_zero">
            <table  matSort (matSortChange)="sortData($event)"
             mat-table [dataSource]="dataSource"
             matSortActive="lift" matSortDirection="asc"
             matSortDisableClear
             class="planner_table ">

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox color="primary" (click)="recountCheckbox($event)"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- SKU Column -->
              <ng-container matColumnDef="pack_type">
                <th width="20%" mat-sort-header="pack_type" mat-header-cell *matHeaderCellDef> Pack Type </th>
                <td width="20%" mat-cell *matCellDef="let element"> {{element.pack_type}} </td>
              </ng-container>
              <!-- SKU Date -->
              <ng-container matColumnDef="incr_sales">
                <th width="20%" mat-sort-header="incr_sales" mat-header-cell *matHeaderCellDef> Incremental Sales </th>
                <td width="20%" mat-cell *matCellDef="let element"> {{element.incr_sales | number : '1.2-2' }} </td>
              </ng-container>
              <!-- Activation Type Column -->
              <ng-container matColumnDef="product_tpn">
                <th width="20%" mat-sort-header="product_tpn" mat-header-cell *matHeaderCellDef>  Product TPN </th>
                <td  width="20%" mat-cell *matCellDef="let element"> {{element.product_tpn}} </td>
              </ng-container>

              <!-- Expect Lift Column -->
              <ng-container matColumnDef="product_name">
                <th width="20%" mat-sort-header="product_name" mat-header-cell *matHeaderCellDef> Product Name</th>
                <td width="20%" mat-cell *matCellDef="let element"> {{element.product_name}} </td>
              </ng-container>

              <!-- Expected ROI Column -->
              <ng-container matColumnDef="activation_type">
                <th width="20%" mat-sort-header="activation_type" mat-header-cell *matHeaderCellDef> Activity </th>
                <td width="20%"  mat-cell *matCellDef="let element"> {{element.activation_type}} </td>
              </ng-container>

              <!-- Expected ROI Column -->
              <ng-container matColumnDef="lift">
                <th width="20%" mat-sort-header="lift" mat-header-cell *matHeaderCellDef> Expected Lift  ({{this.currencySymbol}})</th>
                <td width="20%" class="right-align" mat-cell *matCellDef="let element"> {{element.lift | number : '1.2-2' }} %</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="checkbox_row(row)">
              </tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">
                  <div  class="row col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 dflex center_all ffc filter_no">
                      <img height="100px" src="assets/svg/undraw_void.svg"/>
                      <div class="filter_no">No Data Found For The Filter</div>
                    </div>
                    <div class="col-md-4"></div>
                  </div>

                </td>
               </tr>
            </table>

          </div>
            <mat-paginator [pageSizeOptions]="[10,25,50,75,100]" showFirstLastButtons></mat-paginator>
          </div>


          <div class="row m-5px " >
            <div class="col-md-12 p_zero" >
              <label class="h1_title">SIMULATED</label>
                <div class="row">
                  <div class="col-md-12 bg_white mat-elevation-z2 ">
                   <div class="bg_black_color table_bar_cs row center_items">
                      <div class="col-md-2 cs_font_size br_1">Incremental CSV</div>
                      <div class="col-md-2 cs_font_size br_1">Incremental NSV</div>
                      <div class="col-md-2 cs_font_size br_1">Incremental MAC</div>
                      <div class="col-md-2 cs_font_size br_1">CSV ROAS</div>
                      <div class="col-md-2 cs_font_size br_1"> NSV ROAS</div>
                      <div class="col-md-2 cs_font_size">  MAC ROAS</div>
                   </div>
                    <div class="row table_bar_row center_items row_items">
                      <div class="col-md-2 cs_font_size br_1_black">{{incremantalCSV | shortNumber : '1.2-2' }}</div>
                      <div class="col-md-2 cs_font_size br_1_black">-</div>
                      <div class="col-md-2 cs_font_size br_1_black">-</div>
                      <div class="col-md-2 cs_font_size br_1_black">-</div>
                      <div class="col-md-2 cs_font_size br_1_black">-</div>
                      <div class="col-md-2 cs_font_size ">-</div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="row m-5px p_zero" *ngIf="SOURCE=='from_activation'">
            <div class="col-md-12 " >
              <label class="h1_title">Activations</label>
                <div class="row ">
                  <div class="col-md-12 bg_white mat-elevation-z2 ">
                   <div class="bg_green_color table_bar_cs row center_items">
                    <div class="col-md-12 dflex-sp">
                      <div class="cs_font_size col-md-1" *ngFor="let item of TATS_ARRAY ">{{item.name}}</div>

                    </div>
                    </div>
                    <div class="row table_bar_row center_items">
                      <div class="col-md-12 dflex-sp">
                        <div class="cs_font_size col-md-1" *ngFor="let item of TATS_ARRAY ">{{item.value}}</div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                <div class="row m-5px p_zero" *ngIf="SOURCE=='from_activation'">
                  <div class="col-md-12 " >
                    <label class="h1_title">Pack Types</label>
                <div class="row ">
                  <div class="col-md-12 bg_white mat-elevation-z2 ">
                    <div class="bg_green_color table_bar_cs row center_items">
                     <div class="col-md-12 dflex-sp">
                       <div class="cs_font_size col-md-1" *ngFor="let item of packTypeList ">{{item.name}}</div>

                     </div>
                     </div>
                     <div class="row table_bar_row center_items">
                       <div class="col-md-12 dflex-sp">
                         <div class="cs_font_size col-md-1" *ngFor="let item of packTypeList ">{{item.counts}}</div>

                       </div>
                     </div>
                   </div>
                </div>
            </div>
          </div>
          <div class="row m-5px p_zero" *ngIf="SOURCE=='from_opt_activation'">
            <div class="col-md-12 " >
              <label class="h1_title">Optimized Budget Share</label>
                <div class="row ">
                  <div class="col-md-12 bg_white mat-elevation-z2 ">
                   <div class="bg_green_color table_bar_cs row center_items">
                    <div class="col-md-12 dflex-sp">
                      <div class="cs_font_size col-md-1" *ngFor="let item of TATS_ARRAY ">{{item.name}}</div>

                    </div>
                    </div>
                    <div class="row table_bar_row center_items">
                      <div class="col-md-12 dflex-sp">
                        <div class="cs_font_size col-md-1" *ngFor="let item of TATS_ARRAY ">{{item.value}}</div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="row m-5px p_zero">
            <div class="col-md-6">
              <app-scenario-barchart
              [(dataSetLabel)]="dataSetLabel"
              [(dataSet)]="dataSet"
              *ngIf="reload"
              ></app-scenario-barchart>
            </div>
            <div class="col-md-6">
              <app-scenario-barchart *ngIf="reload1" [(dataSetLabel)]="dataSetLabel1" [(dataSet)]="dataSet1"></app-scenario-barchart>
            </div>
          </div>
        <div>
       </div>

  </div>
</div>
<ng-template #save_scenario let-modal>
  <div class="modal-header">
    <div class="modal-title" >Load / Save Scenario</div>
  </div>
  <div class="modal-body">
    <section class="contact-wrap  col-md-12">
        <div class="col-md-12 dflex">
          <div class="col-md-8">
            <div class="input-block">
              <label for="">Scenario Name</label>
              <input [(ngModel)]="FileName" type="text" class="form-control">
            </div>

          </div>
          <div class="col-md-4">
            <label for=""></label>
            <div class="dflex">
              <button type="button" class="btn btn-outline-dark d-flex ml_10" (click)="saveScenario()"><mat-icon aria-hidden="false" aria-label="Save">save</mat-icon> Save</button>

            </div>

            </div>
        </div>

    </section>
    <section class="contact-wrap  col-md-12 m-top-10px">
      <div class="col-md-12 dflex">
        <div class="col-md-8">
          <div class="input-block">
            <label for="">Load Scenario</label>
            <select  [(ngModel)]="valueSelected" class="cs-mat-select form-control">
              <option *ngFor="let item of saveList" [value]="item.id">{{item.name}}</option>
              </select>
          </div>

        </div>
        <div class="col-md-4">
          <label for=""></label>
          <div class="dflex">
            <button type="button" (click)="LoadSaveList()" class="btn btn-outline-dark d-flex ml_10" ><mat-icon aria-hidden="false" aria-label="Close">get_app</mat-icon>Load</button>

            <button type="button" class="btn btn-outline-dark d-flex ml_10" (click)="deleteSavedList()"><mat-icon aria-hidden="false" aria-label="Close">delete</mat-icon>Delete</button>

          </div>

          </div>
      </div>

    </section>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark d-flex" (click)="modal.close()"><mat-icon aria-hidden="false" aria-label="Close">close</mat-icon>Close</button>
  </div>
</ng-template>
