/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Open Sans', sans-serif;
}
$theme_color:  #0000a0;;
$color-pink: #eb2f64;
$color-pink-light: #ff3366;
$color-pink-dark: #ba265d;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-amber-1: #ffbf00;
$color-amber-2: #ff7e00;
$color-blue-1: #0000a0;
html, body { height: 100%; }
body { margin: 0; }
.pbz{

  padding-bottom: 0px !important;

}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.notiflix-loading-icon.nx-with-message > svg{
fill:#3f51b5;
}
.mat-button-wrapper{ // I have tried all of the following options, but it does not work.
  white-space: pre-wrap !important;
}

.planner_table_bg thead {
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: $theme_color;
}
.planner_table thead {
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: $theme_color;
}
.planner_table tr th{
  color: white;
}
.small-textbox{
  background: white;
    outline: none;
    border: 1px solid $color-amber-1;
}

.small_select{
  border: 1px solid #ccc;
    padding: 7px;
    border-radius: 5px;
    background-color:white;
    outline: none;
}
.dflex-jc{
  display: flex;
    justify-content: center;
}

.planner_table_bg .mat-sort-header-arrow{
  color :white
}

.mat-cell, .mat-footer-cell {
  color: grey;
}
.button_actions{
  padding: 5px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.break-line{
  line-height: normal;
}
.dflex{
  display: flex;
}
.center_all{
  justify-content: center;
  align-items: center;
}
.action_btn_container{
  padding-left: 0px !important;
  padding-right:0px !important;
  display: flex;
  justify-content: center;
}
.seperator{
  border-right: 3px solid #c1c1c1;
  margin-right: 10px;
}

tbody tr:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  border-bottom: 2px solid $theme_color;
}
.custom_search .mat-form-field-underline{
  display: none;
}

.custom_search  .mat-form-field-wrapper {
  padding-bottom:0px !important;
}

.example-form-field .mat-form-field-flex{
  border-radius: 6px !important;
}
.planner_table_bg .mat-checkbox-frame{
  border: 1px solid #ccc;
}
.m_b_10{
  margin-bottom: 10px;
}
.m-10px{
  margin: 10px;
}
.action_center{
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  margin: 5px;
  border-radius: 15px;
  background-color: #fff;
}
 .planner_table_bg mat-form-field {
    display: block !important;
    margin: 0px 3px 0px 2px;
}


.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}


.force-overflow
{
	min-height: 450px;
}
/*
 *  STYLE 4
 */

.custom_scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.p_zero{
  padding-right: 0px;
}
.custom_scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.custom_scroll::-webkit-scrollbar-thumb
{
  background-color: #c1c1c1;
  border: 1px solid #c1c1c1;
}
