

<mat-tab-group dynamicHeight  [selectedIndex]="selectedIndex">
  <mat-tab label="Input Section">
      <div class="row pad-button">
          <div class="col-md-1"></div>
          <div class="col-md-2">
              <button class="button-wt" mat-raised-button color="primary" (click)="fileInput.click()">Upload SKU Activation Plans</button>
              <input hidden accept=".xlsx,.xls,.csv" (change)="onFileSelected()" #fileInput type="file" id="skufile">
          </div>
      </div>

      <div class="row pad-button">
          <div class="col-md-1"></div>
          <div class="col-md-2">
              <button class="button-wt" mat-raised-button color="primary" (click)="fileInput2.click()">Upload Rate Card Information</button>
              <input hidden accept=".xlsx,.xls" (change)="onRateFileSelected()" #fileInput2 type="file" id="ratefile">
          </div>
      </div>
      <div class="row pad-button">
          <div class="col-md-1"></div>
          <div class="col-md-2">
              <button class="button-wt" mat-raised-button color="primary" (click)="executeScenarioPlanner()">Run Scenario Planner</button>
          </div>
      </div>
  </mat-tab>
  <mat-tab [disabled]='!showScenarioPlanner' label="Scenario Planner"> 

      <div class="row" style="margin-top: 25px;">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <mat-form-field appearance="fill">
            <mat-label>SKU Select</mat-label>
            <mat-select [formControl]="skus" [(ngModel)]="skuSelected" (selectionChange)="doFilter()" multiple>
              <mat-select-trigger>
                {{skus.value ? skus.value[0] : ''}}
                <span *ngIf="skus.value?.length > 1" class="additional-selection">
                  (+{{skus.value.length - 1}} {{skus.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let item of skuList" [value]="item.sku">{{item.sku}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="fill">
            <mat-label>Activity Type</mat-label>
            <mat-select [formControl]="types" [(ngModel)]="typeSelected" (selectionChange)="doFilter()" multiple>
              <mat-select-trigger>
                {{types.value ? types.value[0] : ''}}
                <span *ngIf="types.value?.length > 1" class="additional-selection">
                  (+{{types.value.length - 1}} {{types.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let item of activityType" [value]="item.activation_type">{{item.activation_type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field class="example-full-width">
            <mat-label>Activity Lift</mat-label>
            <input matInput [(ngModel)]="activityLift" (click)="triggerModal(modalData1)">
          </mat-form-field>
          <!-- <button class="btn btn-danger" (click)="triggerModal(modalData1)">Activity Lift</button> -->
          <ng-template #modalData1 let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Activity Lift Range</h4>
              <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <mat-label class="range-lable">Activity Lift</mat-label>
              <ngx-slider [(ngModel)]="liftSliderValue" [(value)]="liftMinValue" [(highValue)]="liftMaxValue" [options]="options"></ngx-slider>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
              <button type="button" class="btn btn-danger" (click)="modal.close('Ok click');doFilter()">Ok</button>  
            </div>
          </ng-template>
        </div>

        <div class="col-md-2">
          <mat-form-field class="example-full-width">
            <mat-label>Activity ROI</mat-label>
            <input matInput [(ngModel)]="activityROI" (click)="triggerModal(modalData)">
          </mat-form-field>
          <!-- <button class="btn btn-danger" (click)="triggerModal(modalData)">Activity ROI</button> -->
            <ng-template #modalData let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Activity ROI Range</h4>
                <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <mat-label class="range-lable">Activity ROI</mat-label>
                <ngx-slider [(ngModel)]="roiSliderValue" [(value)]="roiMinValue" [(highValue)]="roiMaxValue" [options]="options"></ngx-slider>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="modal.close('Ok click');doFilter()">Ok</button>  
              </div>
            </ng-template>
        </div>

        <!-- <div class="col-md-2">
          <button class="button-wt" mat-raised-button color="primary" (click)="filterTableData()">Filter</button>
        </div> -->
      </div>

      <div class="row pad-button">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <strong>Total Product Selected : </strong>10
        </div>
        <div class="col-md-2">
            <strong>Total Activities Selected : </strong>10
        </div>
        <div class="col-md-2">
            <strong>Total Estimated Budget : </strong>10
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <button class="button-wt" mat-raised-button color="primary" (click)="DownloadCSV('ScenarioPlan')">Download Scenario Plan</button>
        </div>
    </div>

      <div class="row">
          <div class="col-md-12">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> S.No </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
              </ng-container>
            
              <!-- SKU Column -->
              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef> SKU </th>
                <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
              </ng-container>
            
              <!-- Activation Type Column -->
              <ng-container matColumnDef="activation_type">
                <th mat-header-cell *matHeaderCellDef> Activation Type </th>
                <td mat-cell *matCellDef="let element"> {{element.activation_type}} </td>
              </ng-container>
            
              <!-- Expect Lift Column -->
              <ng-container matColumnDef="expect_lift">
                <th mat-header-cell *matHeaderCellDef> Expect Lift </th>
                <td mat-cell *matCellDef="let element"> {{element.expect_lift}} </td>
              </ng-container>
            
              <!-- Expected ROI Column -->
              <ng-container matColumnDef="expected_roi">
                <th mat-header-cell *matHeaderCellDef> Expected ROI </th>
                <td mat-cell *matCellDef="let element"> {{element.expected_roi}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="selection.toggle(row)">
              </tr>
            </table>
          </div>
      </div>
      <br/>
      <br/>

  </mat-tab>
  <mat-tab label="Optimiser"> 
      <div class="row pad-button">
          <div class="col-md-1"></div>
          <div class="col-md-2">
              <button class="button-wt" mat-raised-button color="primary" (click)="fileInput.click()">Upload Planned Scenario</button>
              <input hidden (change)="onFileSelected()" #fileInput type="file" id="skufile">
          </div>

          <div class="col-md-2" style="padding-left: 30px;">
              <mat-form-field class="example-full-width">
                  <mat-label>Total Available Budget</mat-label>
                  <input matInput placeholder="Ex. 120" value="100">
                </mat-form-field>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-2">
              <button class="button-wt" mat-raised-button color="primary">Optimize</button>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                
                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> S.No </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                  </ng-container>
                
                  <!-- SKU Column -->
                  <ng-container matColumnDef="sku">
                    <th mat-header-cell *matHeaderCellDef> SKU </th>
                    <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
                  </ng-container>
                
                  <!-- Activation Type Column -->
                  <ng-container matColumnDef="activation_type">
                    <th mat-header-cell *matHeaderCellDef> Activation Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.activation_type}} </td>
                  </ng-container>
                
                  <!-- Expect Lift Column -->
                  <ng-container matColumnDef="expect_lift">
                    <th mat-header-cell *matHeaderCellDef> Expect Lift </th>
                    <td mat-cell *matCellDef="let element"> {{element.expect_lift}} </td>
                  </ng-container>
                
                  <!-- Expected ROI Column -->
                  <ng-container matColumnDef="expected_roi">
                    <th mat-header-cell *matHeaderCellDef> Expected ROI </th>
                    <td mat-cell *matCellDef="let element"> {{element.expected_roi}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                      (click)="selection.toggle(row)">
                  </tr>
                </table>

          </div>
      </div>

      <div class="row pad-button">
          <div class="col-md-9"></div>
          <div class="col-md-2">
              <button class="button-wt" mat-raised-button color="primary" (click)="DownloadCSV('OptimiserResult')">Download Optimizer Result</button>
          </div>
      </div>
   </mat-tab>
</mat-tab-group>







